/TSR/.vs/
/TSR/x64/
/TSR/Debug/
/TSR/TSR/x64/
/TSR/TSR/Debug/

/OCR/x64/
/OCR/Debug/
/OCR/Release/

/util/x64/
/util/Debug/
/util/Release/
/util/Backup/
/param/

/mnist/x64/
/mnist/mnist/x64/

/OCR_train/x64/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.jpg
*.db
*.xml
